
/GamePlatformCore/platform-specific-pc/UpgradeLog.XML
/GamePlatformCore/platform-specific-pc/UpgradeLog.htm
/GamePlatformCore/platform-specific-pc/_UpgradeReport_Files/UpgradeReport.css
/GamePlatformCore/platform-specific-pc/_UpgradeReport_Files/UpgradeReport.xslt
/GamePlatformCore/platform-specific-pc/_UpgradeReport_Files/UpgradeReport_Error.png
/GamePlatformCore/platform-specific-pc/_UpgradeReport_Files/UpgradeReport_Information.png
/GamePlatformCore/platform-specific-pc/_UpgradeReport_Files/UpgradeReport_Success.png
/GamePlatformCore/platform-specific-pc/_UpgradeReport_Files/UpgradeReport_Warning.png
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link-cvtres.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link-rc.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link-cvtres.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.3244-cvtres.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.3244-rc.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.3244-cvtres.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.3244-rc.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.3244.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.3244.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.7112-cvtres.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.7112-cvtres.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/cl.command.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link-rc.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.7112-rc.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.7112-rc.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.7112.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.7112.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.8404-cvtres.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.8404-cvtres.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.8404-rc.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.8404-rc.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.8404.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.8404.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.9520-cvtres.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.9520-cvtres.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.9520-rc.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.9520-rc.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.9520.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.9520.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/link.command.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCore/Debug/Lib-link.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCore/Debug/Lib-link.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCore/Debug/CL.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCore/Debug/CL.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCore/Debug/cl.command.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCore/Debug/lib.command.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/CL.read.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/CL.write.1.tlog
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/GamePlatformCoreTest.Build.CppClean.log
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/GamePlatformCoreTest.lastbuildstate
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/GamePlatformCoreTest.log
/GamePlatformCore/platform-specific-pc/GamePlatformCore/Debug/GamePlatformCore.log
/GamePlatformCore/platform-specific-pc/GamePlatformCore/Debug/GamePlatformCore.lastbuildstate
/GamePlatformCore/platform-specific-pc/GamePlatformCore/Debug/GamePlatformCore.Build.CppClean.log
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/vc110.idb
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/Debug/vc110.pdb
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/GamePlatformCoreTest.ilk
/GamePlatformCore/platform-specific-pc/GamePlatformCoreTest/GamePlatformCoreTest.vcxproj.user
/GamePlatformCore/platform-specific-pc/GamePlatformCore.v11.suo